[submodule "pack/sullivan/start/vim-closetag"]
	path = pack/sullivan/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/sullivan/start/vim-easy-align"]
	path = pack/sullivan/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/sullivan/start/lightline"]
	path = pack/sullivan/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/sullivan/start/editor-config"]
	path = pack/sullivan/start/editor-config
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/sullivan/start/nerdtree"]
	path = pack/sullivan/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/sullivan/start/vim-devicons"]
	path = pack/sullivan/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/sullivan/start/markdown-preview"]
	path = pack/sullivan/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.vim.git
[submodule "pack/sullivan/start/dart-vim"]
	path = pack/sullivan/start/dart-vim
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/sullivan/start/vim-snippets"]
	path = pack/sullivan/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/sullivan/start/lightline-bufferline"]
	path = pack/sullivan/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "pack/sullivan/start/todoist-nvim"]
	path = pack/sullivan/start/todoist-nvim
	url = https://github.com/romgrk/todoist.nvim.git
[submodule "pack/sullivan/start/indentLine"]
	path = pack/sullivan/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/sullivan/start/fzf-vim"]
	path = pack/sullivan/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/sullivan/start/vim-polyglot"]
	path = pack/sullivan/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/theme/start/material"]
	path = pack/theme/start/material
	url = https://github.com/kaicataldo/material.vim.git
[submodule "pack/sullivan/start/goyo-vim"]
	path = pack/sullivan/start/goyo-vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/sullivan/start/coc-nvim"]
	path = pack/sullivan/start/coc-nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/sullivan/start/calendar-vim"]
	path = pack/sullivan/start/calendar-vim
	url = https://github.com/itchyny/calendar.vim.git
[submodule "pack/sullivan/start/vim-carbon-now-sh"]
	path = pack/sullivan/start/vim-carbon-now-sh
	url = https://github.com/kristijanhusak/vim-carbon-now-sh.git
[submodule "pack/sullivan/start/vim-gitbranch"]
	path = pack/sullivan/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
